h1{
    color:blue;
    background-color: yellow;
}
h2{
    color: blue;
    background-color: aqua;
}
p{
    color: orangered;
    background-color:rgb(0, 255, 0) ;
}
h3{
    color: black;
}

